.card-professional-experience {
  border: 1px solid #b1b3b6;
  padding: 30px;
  border-radius: 5px;
  background-color: rgb(99, 153, 204);
  display: grid;
  gap: 10px;
}

.professional-experience-container{
  display: grid;
  gap: 30px;
  margin-top: 30px;
}
